@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: white;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: white;
}

h4{
    font-size: 20px;
    color: #222;
    font-weight:900;
}

h6{
    font-weight: 600;
    font-size: 12px;
}

p{
    font-size: 26px;
    color: white;
    margin: 6px; 
}

.section-p1{
    padding-top: 60px;
    color:black;
    text-align:center;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    padding: 15px 30px;
    color: black;
    border-radius: 4px;
    cursor:pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

#header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: rgb(212, 144, 17);
    text-decoration: underline;
}

#hero{
    background-image: url(imgs/bg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url(imgs/button.png);
    background-color: transparent;
    color: #fff;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#hero button:hover{
    text-decoration:underline;
}

.title {
    text-align:center;
    margin:80px 0px;
}

.title h2{
    color:#000;
    font-weight:500;
    margin-bottom:10px;
}

.title h4{
    font-family:cursive;
    font-weight:300;
}

.container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    height:400px;
    /* display:flex;
    flex:1 1 400px;
    flex-direction:column;
    flex-wrap: wrap; */
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius:30px;
    overflow:hidden;
    position:relative;
    margin:20px;
    transition: all 0.2s ease-out;
}

.box:hover{
    transform: scale(1.06);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.box .info{
    padding:10px;
    flex-direction:column;
}

.box .image{
    padding:3px;
}

.box .image img{
    width:290px;
    height:275px;
    border-radius:30px;
    object-fit:cover;
    filter:drop-shadow(0 3px 5px rgba(0, 0, 0, 0.1));
}

.box .info .title{
    font-size:20px;
    margin:0;
    text-align:left;
    color:#000;
}

.box .info .subinfo{
    padding: 2px 3px;
}

.box .info .subinfo .price{
    font-size: 20px;
    margin: 0px 5px;
}

.box .info .subinfo .stars i{
    color:orange;
}

.box .overlay{
    position:absolute;
    top:0;
    left:0;
    height:350px;
    width:100%;
    background:rgba(0, 0, 0, 0.3);
    display:flex;
    align-items:center;
    justify-content:center;
    transition:none;
}

.box .overlay a{
    color:#666;
    background:#fff;
    margin:10px;
    padding:13px 15px;
    font-size:25px;
    transform:translateY(-150px);
    transition-property:transform;
    transition-delay:calc(.1s * var(--i));
}

.box .overlay a:hover{
    color:orange;
}


.box:hover .overlay a{
    transform:translateY(-150px);
    
}




#banner{
    background-image: url(imgs/b2.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color:white;
    font-size:30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background-color: #088178;
    color: #fff ;
}

#sm-banner .banner-box{
    background-image: url(https://images.pexels.com/photos/786003/pexels-photo-786003.jpeg?auto=compress&cs=tinysrgb&w=600);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width:100%;   
    margin-bottom:15px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}


#sm-banner .banner-box2{
    background-image: url(https://images.pexels.com/photos/631986/pexels-photo-631986.jpeg?auto=compress&cs=tinysrgb&w=600);
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 300;
}

#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner button{
    font-size: 13px;
    font-weight: 600;
    background-color: transparent;
    padding: 11px 18px;
    color: #fff;
    border-radius: 4px;
    cursor:pointer;
    border: 2px solid white;
    outline: none;
    transition: 0.2s;
}

#sm-banner button:hover{
    background-color: #088178;
    border: 1px solid #088178;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.testimonals{
    display:flex;
    margin:40px;
    text-align:center;
    align-items:center;
}

.hd-test{
    text-align:center;
    color:#000;
    font-size:30px;
    font-family: 'League Spartan', sans-serif;
    margin:40px;
    font-weight:600;
    align-items:center;
}

.testimonals .part{
    margin: 16px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:0 35px;
    text-align:center;
    align-items:center;
    border-radius:20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition:0.2s ease;
}

.testimonals .part:hover {
    margin-bottom:50px;
    transform:scale(1.06);
    background-color:aqua;
}

.testimonals img{
    text-align:center;
    align-items:center;
    margin:20px;
}

.testimonals h2{
    color:#000;   
    font-size:20px;
    font-weight:500;
}

.testimonals p{
    color:#000;
    font-size:15px;
    font-weight:400;
    margin-bottom:10px;
}

footer{
    background-color: #333;
}

.foot{
    text-align: center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}



@media(max-width:799px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(2){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(8px) rotate(-45deg);
    }

    .testimonals{
        flex-wrap: wrap;
    }

    #navbar{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color:whitesmoke;
    }

    #navbar li{
        margin: 18px;
    }

    #navbar.active{
        left: 0;
    }

    #product1 .pro{
        min-width:220px;    
    }

    #sm-banner .banner-box{
        min-width:100%;   
        margin-bottom:15px;
    }
    
}

@media(max-width:750px){

    #sm-banner .banner-box{
        min-width:100%; 
        margin-bottom:15px;
    }

    #navbar li{
        margin: 18px;
    }
}

@media (max-width:520px){

    #product1 .pro{
        min-width:300px;    
    }

    #navbar li{
        margin: 17px;
    }
}